:root {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --font-family: 'IBM Plex mono', monospace;
  --padding: 10px;
  --bg-image: url("../images/cover-image-light.png");
  --font-weight: 700;
  --font-weight2: 400;
  --accent-color-transparent: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --bg-image: url("../images/cover-image-dark.png");
    --accent-color-transparent: rgba(255, 0, 112, 0.4);
  }
}