:root.theme-dark {
  --main-title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --accent-text-color: #000028;
  --accent-color: #FF0070;
  --button-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --section-title-color: #FF0070;
  --decor-color: #FF0070;
}

.theme-dark .decorative__element {
  display: flex;
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}