:root.theme-dark {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-text-color: #000028;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .rec-label {
  display: flex;
}

.theme-dark .theme-switcher__btn:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}