:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --bg-image: url("../images/cover-image-light.png");
  --accent-color-transparent: rgba(50, 49, 45, 0.4);
}

.theme-light .decorative__element {
  display: none;
}

@media (min-width: 1024px) {
  .theme-light .header__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
  .theme-light .footer__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
}