:root.theme-light {
  --main-title-color: #FFC2E6;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --section-title-color: #353430;
  --decor-color: transparent;
}

.theme-light .decorative__element {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-title-color: #FFC2E6;
    --main-text-color: #353430;
    --accent-text-color: #353430;
    --accent-color: #FF8DCB;
    --button-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --section-title-color: #353430;
    --decor-color: transparent;
  }
  
  .decorative__element {
    display: none;
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }
}