.page {
  margin: 0 auto;
  font-family: var(--main-font, monospace);
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.3;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 375px;
}

.header {
  min-height: 100vh;
  height: 668px;
  padding: 10px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  color: var(--button-color);
  text-align: center;
  border: none;
  background: transparent;
  font-size: var(--base-font-size);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--button-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 10px;
  font-size: var(--base-font-size);
}

.decorative__element::after {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
}

.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  width: 25px;
  height: 25px;
  margin: 10px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  width: 25px;
  height: 25px;
  margin: 10px;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-color);
  font-weight: 700;
  line-height: 0.825;
  align-self: center;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--base-font-size);
  line-height: 1.3;
  color: var(--accent-text-color);
}

.header__text {
  max-width: 355px;
  justify-self: end;
  align-self: center;
}

.question__section-title {
  color: var(--button-color);
  font-weight: 700;
  line-height: 1.3;
  font-size: var(--base-font-size);
}

.question__section-answer-text {
  font-size: var(--base-font-size);
  color: var(--main-text-color);
  line-height: 1.3;
  margin-bottom: 20px;
}

.question__section-answer-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section-answer-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.question__section-answer-link:focus {
  outline: none;
}

.question__section-answer-link:focus-visible {
  border: 1px solid var(--main-text-color);
}

.question__section__one,
.question__section-two,
.question__section__fhree {
  margin: 0 10px;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question__section-two {
  padding-top: 50px;
  padding-bottom: 50px;
}

.question__section__fhree {
  padding-bottom: 50px;
}

.question__section-answer-two-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question__section-answer-title {
  margin-bottom: 10px;
}

.question__section-answer-subtitle {
  font-weight: 400;
}

.question__section-answer-text-fhree {
  margin-top: 10px;
}

.question__section__image {
  margin-top: 22px;
  padding-bottom: 40px;
}

.question__section-title-image {
  margin: 0 10px 10px 10px;
}

.question__section__image-container {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question__section__image-item {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.footer {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 668px;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-color);
  font-weight: 700;
  line-height: 0.825;
}

@media (min-width: 768px) {
  .header {
    height: 1024px;
    padding: 20px;
  }

  .header__theme-menu {
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .decorative__element {
    margin: 20px;
  }

  .frame::before,
  .frame::after {
    margin: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header__text {
    max-width: 364px;
  }

  .question__section__one,
  .question__section__fhree {
    margin: 0 20px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .question__section__one {
    padding-right: 20px;
  }

  .question__section-two {
    margin: 0 20px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .question__section-answer-two-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .question__section__fhree {
    padding-bottom: 80px;
  }

  .question__section__image {
    padding-bottom: 60px;
  }

  .question__section-title-image {
    margin: 0 20px 20px 20px;
  }

  .question__section__image-container {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .question__section__image-item:first-of-type {
    grid-column: 1 / 3;
  }

  .question__section__image-item:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .question__section__image-item:nth-of-type(3) {
    grid-row: 2 / 4;
  }

  .question__section__image-item:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .question__section__image-item:last-of-type {
    grid-column: 2 / 4;
  }

  .footer {
    padding: 20px;
    height: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    height: 768px;
  }

  .header__text {
    max-width: 491px;
  }

  .question__section__one {
    grid-template-columns: 1fr 2fr;
  }

  .question__section__fhree {
    grid-template-columns: 1fr 2fr;
  }

  .footer {
    height: 768px;
  }
}