.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.header {
  position: relative;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: 700;
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  align-self: center;
}

.header__description {
  justify-self: end;
  align-self: center;
  max-width: 355px;
  font-size: 18px;
  line-height: 23.4px;
  padding: 0;
  margin: 0;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recElips {
  position: absolute;
  top: 10px;
  right: 38px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
}

.rec {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.elips {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.main {
  padding: 40px 10px;
  margin: 0 auto;
}

.section {
  margin-bottom: 50px;
}

.section__title {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.section-one {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__title {
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
}

.article__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin: 0;
}

.article__text {
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
}

.section-two {
  display: flex;
  flex-direction: column;
}

.section__content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section-three {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.article-wide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advice-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  margin-bottom: 40px;
}

.gallery__title {
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
}

.gallery__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.highlight {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.highlight:hover {
  border-bottom: 1px solid var(--text-color);
}

.highlight:focus {
  outline: none;
}

.highlight:focus-visible {
  outline: 1px solid var(--text-color);
}

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

@media (min-width: 768px) {
  .header,
  .footer {
    padding: 20px;
    min-height: 1024px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header__description {
    max-width: 364px;
  }
  
  .recElips {
    top: 20px;
    right: 48px;
  }

  .main {
    padding: 60px 20px;
  }
  
  .section {
    margin-bottom: 80px;
  }

  .section-one {
    grid-template-columns: 34% 66%;
    gap: 20px;
  }

  .section__content-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-three {
    grid-template-columns: 34% 66%;
    gap: 20px;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__title {
    margin-bottom: 20px;
  }

  .gallery__image:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header,
  .footer {
    min-height: 768px;
  }
  
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__description {
    max-width: 491px;
  }

  .section__title {
    margin-bottom: 0;
  }
}