.page {
  margin: 0 auto;
  font-family: var(--main-font, monospace);
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  min-block-size: 100vh;
  height: 768px;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

.theme-switcher__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.theme-switcher__btn {
  padding: 0 13px;
  color: var(--button-color);
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.theme-switcher__btn_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.theme-switcher__btn:focus {
  outline: none;
}

.theme-switcher__btn:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.theme-switcher__btn:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}

.rec-label {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--button-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.rec-label::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.header__title {
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.accent-bg {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--base-font-size);
  line-height: 23.4px;
  color: var(--accent-text-color);
}

.header__description {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
}

.section__title {
  color: var(--button-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--base-font-size);
}

.section__text {
  font-size: var(--base-font-size);
  color: var(--text-color);
  line-height: 23.4px;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  border: 1px solid var(--text-color);
}

.section-concentration {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
  gap: 20px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__subtitle {
  margin-bottom: 10px;
}

.section-distractions {
  padding-block-start: 80px;
  padding-block-end: 80px;
  margin: 0 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-block-start: 20px;
}

.section__title_wide {
  max-inline-size: 315px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  margin-block-end: 10px;
}

.section-tips {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
  margin: 0 20px;
  gap: 20px;
}

.tips {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tip {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tip__title {
  font-weight: 400;
}

.tip__text {
  padding-block-start: 10px;
}

.gallery {
  padding-block-end: 60px;
}

.gallery__title {
  margin: 0 20px 20px 20px;
}

.gallery__container {
  margin: 0 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__image:first-of-type {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.gallery__image:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery__image:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.gallery__image:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gallery__image:last-of-type {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.footer {
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 768px;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

@media (max-width: 768px) {
  .header {
    height: 1024px;
  }

  .theme-switcher {
    display: flex;
    justify-content: flex-end;
  }

  .theme-switcher__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__description {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section-concentration {
    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end: 20px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }

  .section__title_wide {
    max-inline-size: 236px;
  }
  
  .section-tips {
    grid-template-columns: 35% 65%;
    padding-block-end: 80px;
  }
 
  .footer {
    height: 1024px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 10px;
    height: 668px;
  }

  .header__title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__description {
    max-inline-size: 355px;
    max-block-size: 117px;
  }  

  .section-concentration {
    margin: 0 10px;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-distractions {
    margin: 0 10px;
    padding-block-start: 50px;
    padding-block-end: 50px;
  }

  .section__title_wide {
    min-inline-size: 355px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
  }

  .section-tips {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-end: 50px;
  }

  .gallery {
    margin-top: 22px;
    padding: 0 0 40px 0;
  }

  .gallery__title {
    margin: 0 10px 10px 10px;
  }

  .gallery__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }

  .footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 668px;
  } 

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .rec-label {
    margin: 10px;
  }
  
  .frame::before {
    margin: 10px;
  }
  
  .frame::after {
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
  
  .footer__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}