:root {
  --main-title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --accent-text-color: #000028;
  --accent-color: #ff0070;
  --main-font: 'IBM Plex mono';
  --base-font-size: 18px;
  --button-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}