:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --bg-image: url("../images/cover-image-dark.png");
    --accent-color-transparent: rgba(255, 0, 112, 0.4);
  }
}